/* previously header.module.css */

header {
            background: #ffffffb3;
            box-shadow: 0 2px 10px rgba(73, 6, 6, 0.1);
            position:relative;
            top: 0;
            z-index: 1000;
}

menu {
  color: #410915;
  list-style-type:none;
  font-family:'fantasy', 'papyrus';
  text-align: center;
  .menu.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: front;
  }
  




.ul Links {
    display: inline;
    gap: 1rem;
  }
}