.footer {
  align-items: center;
  background-color: #1a3119;
  color: #c7ecc6;
  display: flex;
  justify-content: center;
  padding:2px 7px;
  width: 100%;
  font-style: italic;
  font-family: "Fantasy", "Papyrus"
}