header {
    font-family: "fantasy" "papyrus";
    color: rgb(213, 239, 200);
    box-sizing: border-box;
    font-size: larger;
    font-weight: bold;
    border-left: 4px solid rgb(213, 239, 200);
    border-bottom: 2px solid rgb(213, 239, 200);


}
h1 {
    text-align: center;
}
menu {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
    
    

}