:root {
  font-family: "Fantasy", "Papyrus";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(190, 209, 194, 0.87);
  background-color: #8ab68299;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* title of the webpage and background colors */
}

body {
  margin: 1%;
  padding: 0;
  height: 100%;
}

main {
  display: flex;
  flex-direction:column;
  min-height: calc(100vh - 15rem);
  padding: 1rem;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #90c7a0;
    background-color: #ae181896;
  }
  a:hover {
    color: #c81c94;
  }
  button {
    background-color: #b21717;
  }
}